boto3
botocore
Brotli
certifi
charset-normalizer
click
colorama
debugpy
decorator
executing
filelock
Flask
fsspec
huggingface_hub
idna
importlib-metadata
itsdangerous
Jinja2
jmespath
MarkupSafe
mkl-fft
mkl-random
mkl-service
mpmath
nest-asyncio
networkx
numpy
packaging
parso
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
PySocks
python-dateutil
python-dotenv
pywin32
PyYAML
pyzmq
regex
requests
s3transfer
safetensors
setuptools
six
sympy
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing_extensions
urllib3
wcwidth
Werkzeug
wheel
win-inet-pton
zipp
